body {
    background-color: rgb(238, 229, 237);
    position: center;
    justify-content: center;
    display: flex;
}

.container-notes {
    width: 100%;
    min-height: 100vh;
    color: rgb(240, 165, 178);
    padding-top: 2%;
    padding-left: 5%;
}

.container-notes h1 {
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.container-notes button {
    height: 45px;
    width: 162px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: rgb(235, 189, 189);
    border-radius: 3px;
    border: 1px peachpuff;
    transition: .5s;
}


.logout {
    top: 20px;
    right: 50px;
    height: 25px;
    width: 120px;
    font-size: 15px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: rgb(235, 189, 189);
    border-radius: 3px;
    border: 1px peachpuff;
    transition: .5s;
}

.input {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 2px;
}

.input img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    
}

